<ion-header [translucent]="true">
    <app-my-header></app-my-header>
</ion-header>
<ion-content [fullscreen]="true">

    <ion-card class="card">
        <ion-card-header class="card_title__font">
            <ion-card-title>
                <h1>Сервіси приклад №1</h1>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content class="card_body__font">
            Створимо сервіс для роботи зі списком страв DishService

            <ion-item class="card">
                <ion-label position="floating" class="card_input">Назва страви</ion-label>
                <ion-input class="card_input" type="text" id="a" value="Картопля фрі" #InputDish></ion-input>
            </ion-item>

            <ion-button expand="block" (click)="addItem(InputDish.value)">Додати страву</ion-button>
            <h1>Перелік страв</h1>
            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let rez of items">{{rez}}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>